@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Corinthia:wght@700&family=Kaisei+Decol&family=Oswald:wght@200;300;400&family=Red+Hat+Mono:ital,wght@0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Corinthia:wght@700&family=Kaisei+Decol&family=Oswald:wght@200;300;400&family=Red+Hat+Mono:ital,wght@0,500;1,500;1,700&display=swap');

body {
    margin-top: 0;
    margin-left: 0;
    overflow-x: hidden;
    background: black;
}

html {
    scroll-behavior: smooth;
}


#form-container {
    position: absolute;
    top: 15%;
    left: 20.5%;
    padding-left: 12.5%;
    padding-right: 3vw; 
    width: 45vw;
    background: white;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    /* align-items: center;
    justify-content: center;  */
    z-index: 33000;
    font-family: 'Red Hat Mono';
    display: none;
}

#form input {
    border: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 75%;
}
#form textarea {
    border: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 75%;
}

#form button {
    background-color:rgba(250, 235, 215, 0);
    border: 2px solid black;
    width: 75%;
    cursor: cell;
}

#form-p {
    color:rgb(0, 102, 255);
    font-style: italic;
}

#section-1 {
    color: #7dff5d;
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/world_peace_background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    margin-left: 0;
}

#headline {
    position: absolute;
    left: 52.85%;
    right: 15.61%;
    top: 9%;
    bottom: 83.79%;

    font-family: 'Red Hat Mono';
    font-style: italic;
    font-weight: 700;
    font-size: 2.95em;
    line-height: 86px;
    text-align: center;
    z-index: 5000;
}


#big-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 90vh;
    width: 99.6vw;
    left: 0;
    /* height:25vh;
    width: 20vw; */
    /* background-image: url('./assets/ice-cream.png'); */
    /* background-color: rgba(17, 17, 17, 0.351); */
    background-position: top;
    background-size: contain;
    border: 2px solid white;
    color: #7dff5d;
    cursor: cell;
    font-size: 1.25em;
    font-family: 'Red Hat Mono';
    font-weight: 700;
    z-index: 35000
}


div#big-button p {
 text-shadow: 2px 2px #000000;   
}


.section-2 {
    display: flex;
    flex-direction: row;

    position: absolute;
    left: 0vh;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    margin-left: 0.5vw;
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
}




.section-2 p {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 5vh;
    font-family: 'Red Hat Mono';
    font-style: italic;
    font-weight: 500;
    font-size: 3em;
    color: rgb(250, 250, 233);
    line-height: 112px;
}

.section-2 h1 {
    display: inline;
    font-family: 'Red Hat Mono';
    font-size: 2.5em;
    font-weight: 500;
  
}

.p5Canvas {
position: absolute;
top: 0vh;
left: 0;
overflow-x:hidden;
}

#here-button {
    cursor: cell;
}

div#menu {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    font-family: 'Red Hat Mono';
    font-size: 1em;
    font-weight: 500;
    background-color: rgba(255, 30, 248, 0.255);
    margin-top: 51.5%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100vw;
   
}

.menu-item {
    background-color: rgba(255, 255, 7, 0.42);
}

#footer {
    position: absolute;
    top: 95vh;
    width: 100vw;
    height: 6vh;
    overflow-y: hidden;
    background-image: url(./assets/world_peace_background.png);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 35%;
}


@media only screen and (max-width: 806px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #form-container{
        width: 50vw;
        height: 25vw;
        overflow-x: scroll;
    }
    
    .p5Canvas {
        display: none;
        /* position: absolute;
        top: 0vh;
        left: 0;
        overflow-x:hidden; */
        }
    
    #headline {
        position: absolute;
        left: 25%;
        top: -2.5vh;
        font-size: 1.75em;
    }

    #big-button {
       position: absolute;
       left: 0;
       width: 100vw;
    }

    .section-2 p {
        font-size: 2em;
    }

    .section-2 {
        overflow-y: scroll;
    }

    #footer {
        position: absolute;
        top: 250vh;
    }
}

 @media only screen and (min-width: 912px) and (max-width: 915px) {
    #headline {
        position: absolute;
        left: 55%;
        top: -2.5vh;
        font-size: 1.75em;
    }

    #big-button {
       position: absolute;
       top: 83vh;
       left: 0;
       width: 100vw;
    }

    #form-container{
        width: 50vw;
        height: 25vw;
        overflow-x: scroll;
    }

    .section-2 p {
        font-size: 1.15em;
    }
}


 @media only screen and (min-width: 807px) and (max-width:1309px) {
    .section-2 p{
        position: absolute;
        top: 25vh;
        height: 50vh;
        font-size: 1.5em;
        overflow: scroll;
        z-index: 88000;
    }
}  

/* #faq {
    position: absolute;
    top: 88vh;
    left:40vw;
    z-index: 90;
    font-size: 1.5em;
} */

